@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');

@font-face {
    font-family: 'Russo';
    src: url('font/PlaywriteHRLijeva-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    text-align: center;
    background-image: url('../imagens/wallpaper001.jpg');
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    width: 100vw;
    font-size: 25px;
    /* margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px; */
    /* background-color: rgba(255, 255, 255, 0.526); */
}

main {
    text-align: center;
    /* background-color: aliceblue; */
    padding-right: 10%;

}

a {
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-decoration: dashed;
    color: white;
}

img {
    display: inline-block;

}

div.iframe-container {
    background-color: white;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.470);
    border-radius: 10px;
    margin: 10px 10px;
    display: inline-block;
    width: 500px;
    height: 600px;
    justify-content: center;
    position: relative;


}

div.iframe-container iframe {
    position: absolute;
    width: 98%;
    border-radius: 0px, 0px, 10px 10px;
    top: 7%;
    height: calc(85%);
    transform: translate(-50.0%, 5%);

}


div.iframe-container img {
    position: absolute;
    border-radius: 12px 30px;
    width: 36px;
    transform: translate(-664%, -53%);
}

h2 {
    font-size: 1.2em;
    padding: 10px;
    background-color: rgb(246, 245, 244);
    border-radius: 10px 10px 0px 0px;
    width: 96%;
    font-family: 'Playwrite AR';
}

/* img {
    border-radius: 35px 30px;
    width: 36px;
} */
